body { 

    font-family: Arial, sans-serif; 

    margin: 0; 

    padding: 0; 

    text-align: center; 

} 

 

header { 

    background-color: #614f01; 

    padding: 20px; 

    color: rgb(255, 255, 255); 

} 

 

nav a { 

    margin: 0 15px; 

    text-decoration: none; 

    color: rgb(255, 255, 255); 

    font-weight: bold; 

} 

 

.featured { 

    margin: 40px; 

} 

 

.pet-list { 

    display: flex; 

    justify-content: center; 

    gap: 20px; 

} 

.pet { 

    border: 2px solid #ddd; 

    padding: 20px; 

    text-align: center; 

} 

.pet img { 

    width: 150px; 

    height: 150px; 

    border-radius: 20px; 

} 

button { 

    background-color: #0479a0; 

    color: white; 

    padding: 10px; 

    border: none; 

    cursor: pointer; 

} 

 

button:hover { 

    background-color: #0494bc; 

} 